* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}




a {
  outline: none;
  text-decoration: none;
  color: inherit;
}


li {
  list-style-type: none;
}

.container {
  background-image: url('../assets/home1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(215, 224, 255, 0.26);
  box-sizing: border-box;
  min-width: 1512px;
  height: 982px;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}